<div class="w-1/5 bg-purple-100 h-screen p-6">
  <ul class="space-y-4 text-lg">
    <li><a href="/pages/home.html" class="hover:text-orange-500">Home</a></li>
    <li><a href="/pages/registro.html" class="hover:text-orange-500">Registro</a></li>
    <li><a href="/pages/inventario.html" class="hover:text-orange-500">Inventario</a></li>
    <li><a href="/pages/reportes.html" class="hover:text-orange-500">Reportes</a></li>
    <li><a href="/pages/proveedores.html" class="hover:text-orange-500">Proveedores</a></li>
  </ul>
</div>